tmp
ccg_*
tags
Session.vim
src/tags
src/Session.vim
android/bin/
android/gen/
android/jni/SDL
android/jni/SDL2_image
android/jni/SDL2_mixer
android/jni/SDL2_net
android/jni/SDL2_ttf
android/jni/libmikmod
android/jni/libwebp
android/jni/smpeg2
android/libs/
android/obj/
